.whiteButton {
    background-color: white;
}

.grayButton {
    background-color: #f3f3f3;
}

button {
    padding: 12px;
    border: 1px solid #f3f3f3;
    background-color: white;
    border-radius: 5px;
    border-left: none;
    /* Prevent double borders */
    cursor: pointer;
}

button:hover {
    background: #ccc;
}

::after {
    content: "";
    clear: both;
    display: table;
}

input[type=button] {
    padding: 12px;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
    border-left: none;
    /* Prevent double borders */
    cursor: pointer;
}

input[type=button]:hover {
    background: #ccc;
    border: 1px solid #ccc;
}