table {
    border-collapse: separate;
    background-color: white;
    border-radius: 10px;
    border-spacing: 0;
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

tr:hover {
    background-color: #ddd;
    border-bottom: 1px solid #ddd;
}

tr:first-child tr:hover {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

tr:last-child tr:hover {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}