table {
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
}

thead th {
    background-color: white;
    border: none;
    padding: 15px;
    text-align: left;
}

tbody td {
    background-color: white;
    border: none;
    padding: 15px;
    border-top: 1px solid #ddd;
}

thead th:first-child {
    border-radius: 10px 0 0 0;
}

thead th:last-child {
    border-radius: 0 10px 0 0;
}

tbody tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

tbody tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}
